<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Contacts</title>
    </head>
    <body>
        <a href="{% url 'contatos:new_contact' %}">New Contact</a>
        <h2>Contact List</h2>
        {% if contact_list %}
            <div class="container">
            {% for contact in contact_list %}
                <div class="row">
                    <div class="col-sm">
                        <label>{{ forloop.counter }} - {{ contact.name }}</label>
                    </div>
                    <div class="col-sm">
                        <label>{{ contact.phone }}</label>
                    </div>
                    <div class="col-sm">
                        <label>{{ contact.email }}</label>
                    </div>
                    <div class="col-sm">
                        <a href="{% url 'contatos:edit_contact' forloop.counter0 %}">Edit</a>
                        <a href="{% url 'contatos:remove_contact' forloop.counter0 %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <div class="container">
            <div class="row">
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
    </body>
</html>