{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Contacts</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.mask.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/phone-mask.js' %}" type="text/javascript"></script>
    </head>
    <body>
        {%if messages%}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} text-center" id="success-alert" role="alert">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}

        <div class="d-flex justify-content-center">
            <div class="container">
                <br/>
                <div class="d-flex justify-content-start">
                    <a href="{% url 'contatos:index' %}" class="btn btn-primary" >Home</a>
                </div>
                <br/>
                <h2>New Contact</h2>
                <br/>
                <form action="{% url 'contatos:save_contact' %}" method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        <label>Name: </label>
                        <input type="text" name="name" class="form-control" required />
                        <br/>
                        <label>Phone: </label>
                        <!--input type="tel" pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' data-valid-example="+55(84)9621-3383" name="phone" required /-->
                        <input type="text" name="phone" class="form-control" id="cellphone" required />
                        <br/>
                        <label>Email: </label>
                        <input type="email" name="email" class="form-control" required />
                        <br/>
                        <input type="submit" value="Cadastrar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>